/* Main */
h2 {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #7c2dd6;
}
.App {
  position: relative;
  min-height: 100vh;
}

footer {
  text-align: center;
  min-height: 100%;
  padding: 1rem 1rem 0;
  margin-top: 2rem;
  background-color: blueviolet;
  bottom: 0;
}
footer p {
  font-size: 1.25em;
  font-weight: 300;
  color: #eee;
  max-width: max-content;
  margin: 0 auto 1rem;
}
.github-btn {
  margin: 0 1.5rem 1rem;
  padding: 0;
}
.github-btn img {
  height: 40px;
  width: auto;
  padding: 6px 8px;
  filter: invert(100);
  transition: all 200ms ease-in-out;
}
.github-btn img:hover {
  filter: initial;
}
.tooltip-inner p {
  margin: 0.25rem;
}

.main {
  max-width: 100vw;
  overflow-x: hidden;
}
.card,
.card * {
  border-color: blueviolet;
}

/* Main Heading (NAV) */
.customNav {
  padding: 0.5rem;
  background-color: rgb(159, 89, 224);
  border-bottom: 1px solid rgb(108, 55, 158);
}
.navbar-brand h2 {
  margin: 0;
}
.innerNav-collapse > .navbar-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.customNav a {
  color: #eeeeee !important;
  transition: all 200ms ease-in-out;
}
.customNav a:hover {
  color: #ddddddaf !important;
}

/* Main Interaction Row */
.main-row {
  text-align: center;
  margin-top: 1rem;
  justify-content: center;
}
@media (max-width: 991px) {
  .main-row {
    margin-top: 0;
  }
}
.main-row .col {
  padding: 0;
}

/* CreateMedModal */
.modal-content {
  background-color: rgb(255, 255, 255);
}
.createMedModal .modal-title {
  margin: 1.5rem auto 0.5rem;
}
.createMedModal .modal-body {
  margin: 1.5rem 0 0.5rem;
  padding: 0 15px;
}
.createMedModal .form-group {
  margin-bottom: 1.5rem;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 1rem 0;
}

/* Left column */
.usersMeds {
  min-height: calc(100vh - (5rem + 1rem));
  background-color: rgb(255, 255, 255);
  padding: 2rem 2rem 0;
  border-radius: 12px;
}
.usersMeds-div {
  padding-bottom: 2rem;
  width: auto;
}
.usersMeds-div .container {
  padding: 0;
}
/* Meds area */
.med-col {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.med-btn {
  min-width: 7rem;
  height: auto;
  padding: 1rem;
  margin: 2px;
}
/* add medication button */
.addMed-container {
  margin-top: 2rem;
  margin-bottom: 5.5rem;
}
.addMed-container button {
  width: 45%;
  margin: 0 2.5%;
}

/* Time Input */
.timeInput-row {
  margin: 0;
  flex-wrap: wrap;
}
.timeInput-row > .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.timeInput-row .input-group {
  margin: 6px 0;
}
.timeInput-row input {
  border-radius: 0 !important;
}
.timeInput-row button {
  margin: 6px 0;
  width: 100%;
  min-height: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0 0.3rem 0.3rem 0;
  font-weight: 700;
  fill: #0d6efd;
  transition: inherit;
  /* box-shadow: inset 0 0 3px 1px #0d6efd; */
}
.timeInput-row button > svg {
  max-height: 25px;
  height: 50%;
  width: auto;
  margin-bottom: 3px;
  margin-top: 5px;
}
.btn-outline-primary:hover {
  fill: #ffffff;
}

.dateTime-input1 {
  min-height: 100%;
  min-width: 100%;
  font-size: large;
}
.dateTime-input {
  background-color: #c0cbce71;
}
.dateTime-input:hover {
  background-color: #ffffff;
}
.current-time-btn {
  margin: 2rem auto 1rem;
  width: inherit;
}
.current-time-btn .customDisabledButton {
  cursor: initial;
}
.current-time-btn .customDisabledButton:hover {
  background-color: transparent;
  color: #198754;
}

/* Right Column */
.history-col {
  min-height: 100%;
  padding: 2rem 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
}
.outerHistory-card {
  margin: 1rem 0;
  padding: auto 5px;
  z-index: 50;
}
.outerCardContainer {
  position: relative;
}
.rtPopper {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 40;
  min-height: 50%;
  max-height: 100%;
  width: 75px;
  font-weight: 600;
  border-radius: 0.25rem;
}
.rtPopper:focus {
  outline: none !important;
  box-shadow: none !important;
}
.outerHistory-card > .card-header {
  border-bottom-style: none;
}
.outerHistory-card .card-body {
  padding: 0.5rem 0.5rem;
}
.history-title {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  white-space: nowrap;
}
.history-title > .col {
  padding: 0 10px;
}
.history-listItem {
  background-color: inherit;
  display: flex;
  align-items: center;
}

/* BloodPressure */
.bpForm-row {
  margin-bottom: 5.5rem;
}
.bpHistory-vitals {
  font-weight: 500;
}
.BPHistory-listGroup {
  padding-bottom: 1rem;
}
.BPHistory-note p {
  text-align: start;
  font-weight: 500;
  margin: 0.5rem 0 0.5rem;
  border-bottom: 1px solid blueviolet;
}
.BPHistory-note > .container {
  padding: 0 2rem;
  text-align: start;
}

/* Download Data Modal(s) */
.doubleButton-body {
  text-align: center;
  font-size: 1.05rem;
  font-weight: 500;
}
.doubleButton-container {
  display: inline-flex;
  justify-content: space-around;
  padding: 1rem 0;
}
.download-form > .form-group {
  margin-bottom: 16px;
}
.downloadButton-footer {
  padding-bottom: 0;
}
