body {
  background-color: #9e9e9e;
}

.loginCol {
  margin: 2rem auto;
}
.login-card {
  margin: auto;
  background-color: rgb(255, 255, 255);
}
.login-card .card-header {
  padding: 2rem;
}
.login-card h1 {
  text-align: center;
}
.login-card .h6 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.login-card .cardBody-form {
  padding: 1rem 1.5rem;
}
.login-card .form-group {
  margin-bottom: 1rem;
}

.register-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem 1rem 0;
  margin-top: 2rem;
}
.register-container {
  margin-bottom: 1rem;
}
.register-container > .card-title {
  text-align: center;
}

.password-help p {
  margin: 0;
}
