/* Main */
h2 {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid blueviolet;
}

.main {
  max-width: 100vw;
  overflow-x: hidden;
}

.card,
.card * {
  border-color: blueviolet;
}

/* Main Heading */
.customNav {
  background-color: rgb(199, 179, 245);
}

/* Main Interaction Row */
.main-row {
  text-align: center;
  margin-top: 1rem;
  justify-content: center;
}
.main-row .col {
  padding: 0;
}

/* CreateMedModal */
.modal-content {
  background-color: #e0e0e0;
}
.createMedModal .modal-title {
  margin: 1.5rem auto 0.5rem;
}
.createMedModal .modal-body {
  margin: 1.5rem 0 0.5rem;
  padding: 0 15px;
}
.createMedModal .form-group {
  margin-bottom: 1.5rem;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 1rem 0;
}

/* Left column */
.usersMeds {
  background-color: #eee;
  /* border: 2px solid blueviolet; */
  padding-top: 1rem;
  margin-left: 1rem;
}
.usersMeds-div {
  padding-bottom: 5rem;
  width: auto;
}
/* Meds area */
.med-col {
  padding: 1rem 0;
}
.med-btn {
  min-width: 7rem;
  height: auto;
  padding: 1rem;
}
/* add medication button */
.addMed-container {
  margin-top: 2rem;
  margin-bottom: 5.5rem;
}
.addMed-container button {
  width: inherit;
}
/* Time Input */
.middle-col > .container {
  padding: 20px 60px;
}
.dateTime-input1 {
  min-height: 100%;
  min-width: 100%;
  font-size: large;
}
.dateTime-input {
  background-color: #cccccc86;
}
.dateTime-input:hover {
  background-color: #eeeeee;
}
.current-time-btn {
  margin: 2rem auto 1rem;
  width: inherit;
}

/* Right Column */
.history-col {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 5rem;
  padding-top: 1rem;
  background-color: #eee;
  /* border: 2px solid blueviolet; */
}

.outerHistory-card {
  margin: 10px 5px;
}
.outerHistory-card .card-body {
  padding: 0.5rem 0.5rem;
}
.history-title {
  display: flex;
  margin: 0;
}
.history-listItem {
  background-color: inherit;
  display: flex;
  align-items: center;
}
