/* Main */
h2 {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid blueviolet;
}

.main {
  max-width: 100vw;
  overflow-x: hidden;
}
.card,
.card * {
  border-color: blueviolet;
}

/* Main Heading (NAV) */
.customNav {
  background-color: rgb(159, 89, 224);
  /* height: 5rem; */
  border-bottom: 1px solid rgb(108, 55, 158);
  position: relative;
  top: 0;
  
}
.customNav a {
  color: #eeeeee !important;
}
.customNav a:hover {
  color: #ddddddaf !important;
}
.customNav > .navbar-brand {
  margin: 0 2rem;
  border-bottom: none;
  font-weight: 600;
  color: rgb(36, 36, 36);
}
.customNav > .navbar-brand h2 {
  border-bottom: none;
}
.navbarToggle-outerdiv{
  margin: 0 2rem;
  padding: 2px;
}
.innerNav-collapse {
  /* margin: 0 2rem; */
  justify-content: flex-end;
}
.innerNav-collapse .navbar-nav {
  font-weight: 400;
  font-size: 1.1em;
  /* color: #000 !important; */
  padding: 1rem 2rem;
  background-color: rgb(159, 89, 224);
}

/* Main Interaction Row */
.main-row {
  text-align: center;
  margin-top: 1rem;
  justify-content: center;
}
@media (max-width: 991px) {
  .main-row {
    margin-top: 0;
  }
}
.main-row .col {
  padding: 0;
}

/* CreateMedModal */
.modal-content {
  background-color: rgb(255, 255, 255);
}
.createMedModal .modal-title {
  margin: 1.5rem auto 0.5rem;
}
.createMedModal .modal-body {
  margin: 1.5rem 0 0.5rem;
  padding: 0 15px;
}
.createMedModal .form-group {
  margin-bottom: 1.5rem;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 1rem 0;
}

/* Left column */
.usersMeds {
  min-height: calc(100vh - (5rem + 1rem));
  background-color: rgb(255, 255, 255);
  /* padding: 2rem 2rem 5rem; */
  padding: 2rem 2rem 0;
}
.usersMeds-div {
  padding-bottom: 2rem;
  width: auto;
}
.usersMeds-div .container {
  padding: 0;
}
/* Meds area */
.med-col {
  padding: 1rem 0;
}
.med-btn {
  min-width: 7rem;
  height: auto;
  padding: 1rem;
  margin: 2px;
}
/* add medication button */
.addMed-container {
  margin-top: 2rem;
  margin-bottom: 5.5rem;
}
.addMed-container button {
  width: 45%;
  margin: 0 2.5%;
}

/* Time Input */
.timeInput-row > .input-group {
  margin: 0.25rem 0;
}
.dateTime-input1 {
  min-height: 100%;
  min-width: 100%;
  font-size: large;
}
.dateTime-input {
  background-color: #c0cbce71;
}
.dateTime-input:hover {
  background-color: #ffffff;
}
.current-time-btn {
  margin: 2rem auto 1rem;
  width: inherit;
}
.current-time-btn .customDisabledButton {
  cursor: initial;
}
.current-time-btn .customDisabledButton:hover {
  background-color: transparent;
  color: #198754;
}

/* Right Column */
.history-col {
  min-height: 100%;
  padding: 2rem 2rem;
  background-color: rgb(255, 255, 255);
}
.outerHistory-card {
  margin: 1rem 5px;
}
.outerHistory-card > .card-header {
  border-bottom-style: none;
}
.outerHistory-card .card-body {
  padding: 0.5rem 0.5rem;
}
.history-title {
  display: flex;
  margin: 0;
}
.history-listItem {
  background-color: inherit;
  display: flex;
  align-items: center;
}

/* BloodPressure */
.bpForm-row {
  margin-bottom: 5.5rem;
}
.bpHistory-vitals {
  font-weight: 500;
}
.BPHistory-listGroup {
  padding-bottom: 1rem;
}
.BPHistory-note p {
  text-align: start;
  font-weight: 500;
  margin: 0.5rem 0 0.5rem;
  border-bottom: 1px solid blueviolet;
}
.BPHistory-note > .container {
  padding: 0 2rem;
  text-align: start;
}

/* Download Data Modal(s) */
.doubleButton-body {
  text-align: center;
  font-size: 1.05rem;
  font-weight: 500;
}
.doubleButton-container {
  display: inline-flex;
  justify-content: space-around;
  padding: 1rem 0;
}
.download-form > .form-group {
  margin-bottom: 16px;
}
.downloadButton-footer {
  padding-bottom: 0;
}
